body {
    margin: 0;
    padding: 0;
    background: black;
}
h1 {
    margin: 0;
}
h2 {
    color: white;
}
.zone {
    text-align: center;
}
h2.text {
    display: inline-block;
    color: black;
    text-align: center;
    background: yellow;
    width: 200px;
    padding: 1rem;
}
.zone2 {
    background-color:chocolate;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}
a {
    display: inline-block;
    background-color:teal;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.1em;
}